<div class="adicionar-produto">
  <mat-form-field>
    <mat-label>Nome do produto</mat-label>
    <input matInput type="text" [(ngModel)]="nome" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Descrição do produto</mat-label>
    <input matInput type="text" [(ngModel)]="descricao" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Preço do produto</mat-label>
    <input matInput type="text" [(ngModel)]="preco" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Imagem do produto</mat-label>
    <input matInput type="text" [(ngModel)]="url_imagem" />
  </mat-form-field>

  <button mat-flat-button (click)="salvarProduto()">Adicionar</button>
</div>
